APP_NAME=Haluka-Powered App
APP_ENV=develop
PORT=3000
APP_URL=http://localhost:3000
APP_DEBUG=true
DB_STRING=mongodb://localhost:27017/haluka
DB_NAME=haluka
AUTH=false
MAIL_HOST=
MAIL_USER=
MAIL_PASS=
MAIL_PORT=
